.wyn-smart-text {
  display: block;
}
/* .wyn-smart-text.with-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
.wyn-smart-text.with-ellipsis {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  white-space: unset;
  text-overflow: unset;
}